body {
  text-align: center;
  font-family: sans-serif;
  background: #f0f0f0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

#message {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  transition: opacity 0.5s ease;
}
